body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color:  #fffbef;
  padding: 20px;
  overflow-y: auto;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d78c80;
  color: white;
  padding: 10px 20px;
}

#menu-buttons {
    display: flex;
    gap: 20px;
}

.menu-text {
  width: 126px;
  height: 50px;
  background-color: #d78c80;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
}

.menu-text:active {
  background-color: #e2a9a0;
}

.menu-text.active {
  background-color: #e2a9a0;
}

.message {
  background-color: #dcf8c6;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-end;
}

.message.received {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.message-input {
  display: flex;
  padding: 10px;
  background-color: #e5f1f3;
  border-top: 1px solid #ddd;
  gap: 10px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

#welcome {
  color: #545454;
  font-size: 56px;
  font-family: Segoe UI;
  text-align: center;
}

#descr {
  color: #737373;
  font-size: 18px;
  font-family: Segoe UI;
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

#username {
  width: 400px;
  height: 42px;
  border: 2px solid #737373;
  border-radius: 17px;
  color: #737373;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  text-align: center;
  outline: none;
  box-sizing: border-box;
}

#username::placeholder {
  color: #737373;
  opacity: 0.7;
}

.button-on-off {
  width: 100px;
  height: 42px;
  border: none;
  border-radius: 17px;
  background-color: #b4b4b4;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.button-on-off.active {
  background-color: #689ea7;
  cursor: pointer;
}

.image-box {
  position: relative;
  width: 1212px;
  height: 268px;
  border-radius: 26px;
  overflow: hidden;
  background: linear-gradient(135deg, #d78c80, #eec4a4, #8dc8d2);
  margin-top: 100px;
  margin-bottom: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidebar-text {
  color: #545454;
  font-size: 18px;
  font-family: Segoe UI;
  border-bottom: #545454 2px solid;
  height: 32px;
}

.light-text{
  color: #737373;
  font-size: 15px;
  font-family: Segoe UI;
}

#box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-chat {
  margin-top: 40px;
  margin-left: 20px;
  color: #689ea7;
  border-bottom: #689ea7 2px solid;
}

.chat {
  padding: 20px;
}
